nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.nav1 {
    display: flex;
}

.logobar {
    height: 20px;
    width: 20px;
}
  
@media (prefers-reduced-motion: no-preference) {
.logobar{
    animation: img-logo-spin infinite 10s linear;
}
}

@keyframes img-logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}